{% extends 'base.html' %}

{% block title %} Register {% endblock %}
{% block main %}

<div class="container-fluid bg-dark bg-gradient" style="height: 100vh;">
    <div class="d-flex justify-content-center h-100">
        <div class="d-flex align-items-center mb-5">
            <div class="card bg-light bg-gradient" style="width: 30rem;">
                <div class="card-body">
                    <div class="container-fluid my-4">
                        <ul class="nav justify-content-center">
                            <li class="nav-item ">
                                <a class="nav-link " href="/login">Log-In</a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link active b-bot" href="#">Register</a>
                            </li>

                        </ul>

                    </div>
                    <div class="container-fluid my-2">
                        <form action="" method="post">
                            <div class="row g-1">
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">First Name</label>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Last Name</label>
                                    </div>


                                </div>
                            </div>
                            <div class="row g-1">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email address</label>
                                </div>

                            </div>
                            <div class="row g-1">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class=" my-4 text-center">
                            <button class="btn btn-success" type="submit">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>





















{% endblock %}