{% extends "base.html" %}

{% block title %}
<title>encryptiontesting</title>
{% endblock %}



{% block main %}

<div class=" container my-5 p-2">
    <form id="form_wq" class="row g-3 needs-validation" action="/testing" method="POST" novalidate>
        <div class="col-12">
            <label for="message" class="form-label">Message</label>
            <input id="message" type="text" class="form-control" id="validationCustom01" required>
            <div class="valid-feedback">
              Looks good!
            </div>

        </div>  
          <div class="col-12">
            <label for="encrypted_message" class="form-label">encrypted_message</label>
            <textarea class="form-control" id="validationCustom01"  required></textarea>
            <div class="valid-feedback">
              Looks good!
              
          
        </div>
    </div>

          <div class="col-12">
            <label for="decrypted_message" class="form-label">decrypted_message</label>
            <input type="text" class="form-control" id="validationCustom01">
            <div class="valid-feedback">
              Looks good!
          </div>
        </div>





  <div class="col-12 mt-5">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
    </form>



</div>


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


{% endblock %}


{% block jsinclude %}
<script src="http://127.0.0.1:5000/static/assets/js/crypto-js/core.js"></script>
<script src="http://127.0.0.1:5000/static/assets/js/crypto-js/crypto-js.js"></script>




<script src="http://127.0.0.1:5000/static/assets/test.js"></script>


{% endblock %}




